<div class="message-send">
  <div class="container mt-4 information">
    <h1 class="message-send-title">In this part you can send a message to another user</h1>
    <div class="col">
      <%=form_with model: @messages do |f|%>
        <div class="row">
          <div class="col-sm-6">
            <div class="card message">
              <div class="card-body">
                <h2 class="card-title">Enter the message</h2>
                <%= f.label :message %><br />
                <%= f.text_field :message%>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card message">
              <div class="card-body">
                <h5 class="card-title">Choose the user do you want to send a message</h5>
                <%= f.label :users %>
                <%=f.fields_for :message_user do |mu| %>
                  <%= mu.select :profile , Profile.all.collect { |p| p.name}, include_blank: true %>
                <%end %>
              </div>
            </div>
          </div>
        </div>

      <div >
        <div class="col-6 btn-send">
          <%= f.submit "Send", method: :post, class: ["btn", "btn-dark"]%>
        </div>
      <% end %>

        <div class="col">
          <%=link_to "Back", inbox_messages_path %>
        </div>
      </div>

    </div>
  </div>
</div>


