<p id="notice"><%= notice %></p>

<div class="row ml-0 mt-3" id="div-principal-text">
  <div>
    <h1>Profiles</h1>
    <p>In this section we can find all the profiles there are, we can see the title along with its description.
      Pressing each profile leads us to the profile page where we can see your photos and a greater amount of information
    </p>
    <p>
      We can create a profiles with the add button
    </p>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button class="btn btn-success btn-lg" id="add-button"><%= link_to "Add", new_profile_path%></button>
    </div>
  </div>
</div>


<div class="row">
  <% @profiles.each do |profile| %>
    <div class="col-md-4" id="center-div-home">
      <div class="card mb-4 shadow-sm">
        <%= image_tag("thumbnail.svg", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %>
        <div class="card-body">
          <p class="card-text"><%= link_to profile.name, profile %></p>
          <p class="card-text" id="text-div-black"><%= profile.last_name %></p>
          <p class="card-text" id="text-div-black"><%= profile.phone %></p>
          <p class="card-text" id="text-div-black"><%= profile.dob %></p>
          <p class="card-text" id="text-div-black"><%= profile.address %></p>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-info"><%= link_to "View", profile %></button>
            <button type="button" class="btn btn-outline-warning"><%= link_to "Edit", edit_profile_path(profile) %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>