<div class="card-results" id="black-text">
  <div class="card-body">
    <h5 class="card-title">Results</h5>
    <p>The following list show the results by key words</p>
    <div class="results-scroll">
      <ul class="list-group list-group-flush">
        <%@events_by_keyword.each do |e| %>
          <li class="list-group-item"><%=e.title %> <button type="button" class="btn btn-outline-info btn-sm"><%= link_to "View", e %></button></li>
        <%end %>

        <%@organizations_by_keyword.each do |o| %>
          <li class="list-group-item"><%=o.name %> <button type="button" class="btn btn-outline-info btn-sm"><%= link_to "View", o %></button></li>
        <%end %>
      </ul>
    </div>
  </div>
</div>







<div>
  <p></p>
</div>







<div class="card-deck" id="centre-data-profile">
  <div class="card" id="black-text">
    <div class="card-body">
      <h5 class="card-title">Events</h5>
      <p>The following list show the events that you are searching</p>
      <div id="profile-scroll">
        <ul class="list-group list-group-flush">
          <%@event.each do |e| %>
            <li class="list-group-item"><%=e.title %> <button type="button" class="btn btn-outline-info btn-sm"><%= link_to "View", e %></button></li>
          <%end %>

          <% @events.each do |events| %>
            <% @profile.each do |user| %>
              <% if events.user_id==user.user_id %>
                <li class="list-group-item"><%= events.title %> <button type="button" class="btn btn-outline-info btn-sm"><%= link_to "View", events %></button></li>
              <% end %>
            <%end %>
          <% end %>

          <% @event_by_organization.each do |events| %>
            <% @organization.each do |organization| %>
              <% if organization.id==events.id %>
                <li class="list-group-item"><%= events.event.title %> <button type="button" class="btn btn-outline-info btn-sm"><%= link_to "View", events.event %></button></li>
              <% end %>
            <%end %>
          <% end %>

        </ul>
      </div>
    </div>
  </div>

  <div class="card" id="black-text">
    <div class="card-body">
      <h5 class="card-title">Organizations</h5>
      <p>The following list show the organizations that you are searching</p>
      <div id="profile-scroll">
        <ul class="list-group list-group-flush">
          <%@organization.each do |o| %>
            <li class="list-group-item"><%=o.name %> <button type="button" class="btn btn-outline-info btn-sm"><%= link_to "View", o %></button></li>
          <%end %>



        </ul>
      </div>
    </div>
  </div>

  <div class="card" id="black-text">
    <div class="card-body">
      <h5 class="card-title">Profiles</h5>
      <p> The following list show the profiles that you are searching</p>
      <div id="profile-scroll">
        <%if @profile!=nil or @user!=nil %>
          <ul class="list-group list-group-flush">
            <%@profile.each do |p| %>
              <li class="list-group-item"><%=p.name %> <%=p.last_name %> <button type="button" class="btn btn-outline-info btn-sm"><%= link_to "View", p  %></button></li>
            <%end %>
            <%@user.each do |u| %>
              <li class="list-group-item"><%=u.profile.name %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
