<div class="row ml-0 mt-3" id="div-principal-text">
  <div>
    <h1>Users</h1>
    <p>In this section we can find all users that have account.
     <br>You can create an user with the "Create" button </p>
    <div class="btn-group">
      <button type="button" class="btn btn-outline-success" id="add-button"><%= link_to "Create", new_user_path%></button>
    </div>
  </div>
</div>


<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4" id="center-div-home">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header user-header" id="title">
          &nbsp;&nbsp; <%= link_to user.profile.name, show_user_path %>  <%= link_to user.profile.last_name, show_user_path %>
        </div>
        <div class="card-body text-dark user">
          <div class="user-scroll">
            <p class="card-text">id: <%= user.id %></p>
            <p class="card-text">Username: <%= user.username %></p>
            <p class="card-text">Email: <%= user.email %></p>
            <% if user.admin == true %>
              <p class="card-text">Rol: Admin</p>
            <% else %>
              <p class="card-text">Rol: Current User</p>
            <% end %>
            <p class="card-text">Phone: <%= user.profile.phone %></p>
            <p class="card-text">Date of Birth: <%= user.profile.dob %></p>
            <p class="card-text">Address: <%= user.profile.address %></p>
          </div>

          <div>
            <p> <br> </p>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" id="view-edit-button"><%= link_to "Edit", edit_user_path(user) %></button>
            <button type="button" class="btn btn-sm btn-outline-danger" id="view-edit-button">Delete</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>