<div class="row ml-0 mt-3" id="div-principal-text">
  <div>
    <h1>Upcoming Events!</h1>
    <p>Here we have a small selection of the events that will take place.</p>
  </div>
</div>

<div class="col-md-12" id="home-photo-background">
  <p> <br> </p>
  <div class="row">
    <% @events.each_with_index do |event, i| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag("thumbnail.svg", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %>
          <div class="card-body">
            <p class="card-text-black-text"><%= event.title %></p>
            <% if current_user %>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-info"><%= link_to "View", event %></button>
              </div>
            <% elsif current_user%>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-info"><%= link_to "View", event %></button>
                <button type="button" class="btn btn-sm btn-outline-warning"><%= link_to "Edit", edit_event_path(event) %></button>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <p> <br> </p>

  <div class="card-group">
    <div class="card" id="text-comments-home">
      <%=image_tag("imagen1.jpg", alt: "Home photo", width: "100%")%>
      <div class="card-body">
        <h5 class="card-title">Join our platform</h5>
        <p class="card-text">
          Easy and fast to use, most convenient event creation site on the web.
        </p>
        <p class="card-text"><small class="text-dark">Last updated 2 mins ago</small></p>
      </div>
    </div>
    <div class="card" id="text-comments-home">
      <%=image_tag("imagen2.jpg", alt: "Home photo", width: "100%")%>
      <div class="card-body">
        <h5 class="card-title">Flexible</h5>
        <p class="card-text">You can arrange the dates of your event, and let the guest vote for their preference.</p>
        <p class="card-text"><small class="text-dark">Last updated 15 mins ago</small></p>
      </div>
    </div>
    <div class="card" id="text-comments-home">
      <%=image_tag("imagen3.jpeg", alt: "Home photo", width: "100%")%>
      <div class="card-body">
        <h5 class="card-title">Important event</h5>
        <p class="card-text">
          The most exclusive events on town are hosted on our site.
        </p>
        <p class="card-text"><small class="text-dark">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <p> <br> </p>
</div>