<p id="notice"><%= notice %></p>


<div class="row ml-0 mt-3" id="div-principal-text">
  <h1>Events</h1>
  <p><%= link_to "Add", new_event_path, class: ["btn", "btn-primary"] %> </p>
</div>


<div class="row">
  <% @events.each do |event| %>
    <!-- Begin: Move this to a partial view -->
    <div class="col-md-4" id="center-div-home">
      <div class="card mb-4 shadow-sm">
        <%= image_tag("thumbnail.svg", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %>
        <div class="card-body">
          <p class="card-text"><%= link_to event.title, event %></p>
          <p class="card-text" id="text-div-black"><%= event.description %></p>
        </div>
      </div>
      <!-- End: Move this to a partial view -->
    </div>
  <% end %>
</div>