<p id="notice"><%= notice %></p>
<h1>Event</h1>

<table>
  <thead>
  <th>Title</th>
  <th>Description</th>
  <th>Event Flag</th>
  <th>User ID</th>
  <th>Location</th>
  <th>Date</th>
  </thead>

  <tbody>
    <td><%= @events.title %></td>
    <td><%= @events.description %></td>
    <td><%= @events.event_flag %></td>
    <td><%= @events.user_id %></td>
    <td><%= @events.location %></td>
    <td><%= @events.date %></td>
  </tbody>
</table>




<table>
  <thead>
  <th>Comments</th>
  </thead>

  <tbody>
  <td><%= @events.title %></td>
  </tbody>

</table>
<br>

<%= link_to 'Back', events_path %>
