<div class="row ml-0 mt-3" id="div-principal-text">
  <div>
    <h3>In this part you can modified the information about the organization.</h3>
  </div>
</div>


<div class="card-new-event-form" style="width: 28rem;">
  <div class="card-body">
    <h1 class="card-title">Edit Organization</h1>
    <%= form_with model: @organization do |form| %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image, class: "custom-file"  %>
      </div>
      <div>
        <%= form.submit "Edit", class: ["btn", "btn-primary"] %>
        <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
      </div>
    <% end %>
  </div>
</div>







