<p id="notice"><%= notice %></p>
<div class="organization-show">
  <div class="card mb-3 organization-show-card">
    <%= image_tag("thumbnail.svg", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %>
    <div class="card-body">
      <p class="card-text" id="text-div-blue"><%= "Name of the organization:"%></p>
      <p class="card-text" id="text-div-black"><%= @organizations.name %></p>
      <p class="card-text" id="text-div-blue"><%= "Description of the organization:"%></p>
      <p class="card-text" id="text-div-black"><%= @organizations.description %></p>
      <% if current_user.admin %>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary"><%= link_to "Edit",  edit_organization_path(@organization) %></button>
            <button type="button" class="btn btn-outline-danger"><%=link_to "Delete", {controller: 'organizations', action: 'destroy'}, method: :delete %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="list-and-publicevents">
    <div class="card-user-list">
      <h2 class="card-header-organization-list-user">&nbsp;&nbsp;&nbsp;Organization List User</h2>
      <div class="card-body">
        <select class="mdb-select w-100 organization-show-scroll" multiple>
          <option value="" disabled selected>Add to Organization</option>
          <% if @member.length > 0 %>
            <% @member.each do |list| %>
              <% @profiles.each do |profiles|%>
                <% if profiles.user_id != list.user_id %>
                  <option><%= profiles.name %> <%= profiles.last_name %></option>
                <% end %>>
              <% end %>
            <% end %>
          <% end %>

          <% if @member.length == 0 %>
            <% @profiles.each do |profiles|%>
              <option><%= profiles.name %> <%= profiles.last_name %></option>
            <% end %>
          <% end %>
        </select>
        <% if current_user.admin %>
          <%= link_to "Add to Organization", { controller: 'organizations', action: 'add_member', user_id: 2, organization_id: 1}, method: :post, class: ["btn", "btn-outline-primary","w-100","mb-5"] %>
        <% end %>

        <div id="profile-scroll">
          <table class="table table-striped table-dark">
            <thead>
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Name</th>
              <th scope="col">Last Name</th>
            </tr>
            </thead>
            <tbody>
            <% i=0 %>
            <% @member.each do |member| %>
              <tr>
                <td><%= i+=1 %></td>
                <td><%= member.user.profile.name %></td>
                <td><%= member.user.profile.last_name %></td>
                <% if current_user.admin %>
                  <td><button type="button" class="btn btn-outline-secondary"><%= link_to "View",  profile_path(member.id) %></button></td></td>
                  <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                <% end %>
              </tr>
            <%end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>



    <div class="card-public-event-list-organization">
      <h2 class="card-header-organization-list-user">&nbsp;&nbsp;&nbsp;Public Events</h2>
      <div class="card-body">
        <div id="profile-scroll">
          <table class="table table-striped table-dark">
            <thead>
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Title</th>
            </tr>
            </thead>
            <tbody>
            <% i=0 %>
            <% @public_events.each do |public_events| %>
              <% @organization_events.each do |events| %>
                <% if events.event.id==public_events.id %>
                  <tr>
                    <td><%= i+=1 %></td>
                    <td><%= events.event.title %></td>
                    <% if current_user.admin %>
                      <td><button type="button" class="btn btn-outline-secondary"><%= link_to "View",  event_path(events.event.id) %></button></td></td>
                      <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                    <% end %>
                  </tr>
                <% else %>
                <% end %>
              <%end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-outline-dark" id="button-organization-show"><%= link_to "back", organizations_path %></button>
    <p> <br> </p>
  </div>
</div>
