<!DOCTYPE html>
<html>
  <head>
    <title>Entrega3Proyecto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  <header>
    <h1><%= link_to "Meet Up", root_path %></h1>
  </header>
    <nav>
      <ul id="navbar">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Profile", profiles_path %></li>
        <li><%= link_to "Organizations", organizations_path %></li>
        <li><%= link_to "Account" %></li>
        <li><%= link_to "Log Out" %></li>
        <li><%= link_to "'WELCOME! " + @current_profile + "'" %></li>
      </ul>
    </nav>
    <div id="container">
      <main id="main_content">
        <%= yield %>
      </main>
    </div>
    <footer>
      <h4>
        Contact Information
      </h4>
      <p>Contact us at: bigbangevents@gmail.com</p>
    </footer>
  </body>
</html>
